<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="background: #b8ced5;">
    <nav
      class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/renterhub"
          ><img src="/assets/newRenterHubLogo.png" id="logo" /><span
            id="name_of_site"
            >RenterHub</span
          ></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/renterhub" style="color: blue"
              >Home</a
            >
            <a class="nav-link" href="/renterhub/about" style="color: blue">About Us</a>
            <a class="nav-link" href="/renterhub/newListing" style="color: deeppink"
              >rent your home</a
            >
            <a class="nav-link" href="/renterhub/services" style="color: blue">our services</a>
          </div>
        </div>
        <span class="user_login"
          ><button
            onclick="document.getElementById('id02').style.display='block'"
            style="width: auto"
          >
            SignUp
          </button>
          |
          <button
            onclick="document.getElementById('id01').style.display='block'"
            style="width: auto"
          >
            Login
          </button>
          <i class="fa-solid fa-user"></i
        ></span>
      </div>
    </nav>

    <div id="id01" class="modal">
      <form
        class="modal-content animate"
        action="/renterhub/Login_verification"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <img src="/assets/avatorforLogin.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="name"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="name"
            required
          />

          <label for="password"><b>Password</b></label>
          <input
            type="password"
            placeholder="set Password"
            name="password"
            required
            style="width:80%;padding:0.6rem;border:1px solid purple;border-radius: 4px;"
          />

          <button type="submit" class="login_btn">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn"
          >
            Cancel
          </button>

          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    <div id="id02" class="modal">
      <form
        class="modal-content animate"
        action="/renterhub/SignUp_verification"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('id02').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <img src="/assets/avatorforLogin.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="name"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="name"
            required
          />

          <label for="email"><b>Email</b></label>
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            required
            style="width:100%;padding:0.6rem;border:1px solid purple;border-radius: 4px;"
          />

          <label for="password"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
            style="width:100%;padding:0.6rem;border:1px solid purple;border-radius: 4px;"
          />

          <button type="submit" class="login_btn">SignUp</button>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
    <br>
    <br>
 <pre style="font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: 500; margin-left: 16rem;"> <h5 style="color: purple;"> RenterHub </h5> provides a seamless experience to rent and book your dream home or place to make our users more comfortable <br><br>Welcome to <b>renterhub</b><br>- Your Ultimate Home Rental Destination

  At <b>renterhub</b>, we pride ourselves on providing exceptional homebr <br>rental services that cater to your needs and preferences.<br> Whether you're seeking a cozy apartment in the heart <br>of the city or a spacious villa by the beach, we have the perfect<br> accommodation for you. Our commitment to excellence ensures<br> that your renting experience is seamless <br>and stress-free.
  
 <h3> Our Services</h3>
  
  <b>Wide Selection of Properties:</b> Explore our diverse<br> range of properties, including apartments, houses, villas,<br> and more. With options to suit every budget and lifestyle,<br> finding your dream home has never been easier.
  Personalized Assistance: Our team of dedicated <br>rental experts is here to assist you every step of the way. <br>From helping you find the perfect property to coordinating viewings<br> and negotiating terms, we're committed to making your<br> renting process hassle-free.<br>

  <b>Transparent Pricing:</b> We believe in transparency, which is why we<br> provide upfront pricing and detailed information<br> about each property. Say goodbye to hidden fees and <br>unexpected surprises - with us, what you see is what you get.<br>
  Secure Booking: Rest assured that your<br> rental transactions are secure with us. Our encrypted<br> payment gateway and robust security measures ensure that your personal and<br> financial information is protected at all times.<br><br>
  
  <hr style="width:70%;height:3px;margin-left: 150px;">
  <h3>Why Choose Us?</h3><br>
  
<b>Reliable Service:</b> With years of experience in the industry, we have<br> established ourselves as a trusted name in<br> home rentals. Count on us to deliver reliable service and<br> unparalleled expertise.<br><br>
  Customer Satisfaction: Our priority is your satisfaction.<br> We go above and beyond to exceed your expectations and<br> ensure that you have a memorable renting experience with us.<br><br>

  <hr style="width:70%;height:3px;margin-left: 150px;">

  <b>Continuous Support: </b>Our commitment to your satisfaction<br> doesn't end after you've signed the lease. We're<br> here to provide ongoing support and assistance throughout your rental<br> period, ensuring that your needs are always met.
  Get Started Today<br><br>
  
  
  Ready to find your perfect rental home? Browse our listings<br> now and take the first step towards your new living space.<br> Have questions or need assistance? Contact us today,<br> and let us help you find the home of your dream</pre>
    

    <footer>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe eum,
      ut, at, voluptate odit magni earum sed distinctio accusantium ab. Beatae
      doloribus veritatis cupiditate aspernatur delectus excepturi? Vero, quasi.
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      // Get the modal
      var modal1 = document.getElementById("id01");
      var modal2 = document.getElementById("id02");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal1) {
          modal1.style.display = "none";
        }
      };
      window.onclick = function (event) {
        if (event.target == modal2) {
          modal2.style.display = "none";
        }
      };
    </script>
  </body>
</html>